* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: grey;
  margin-top: 20px ;

}
.header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 40px;
  width: 95vw;
  background-color: brown;
   box-shadow:0 3px 15px rgba(13, 172, 146, 0.525);
}
.header .SearchBar {
  width: 74%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-left: 700px;
  border-radius: 20px;
  border: none;
  outline: none;

}
.header .UserIcon {
  width: 30px;
  height: 40px;
  align-items: end;
  justify-content: center;
  color: white;
  padding: 7px;
     cursor:pointer;
    transition:0.3s;
}
.UserIcon:hover{
    color: white;
    transform:scale(1.2);
}
.header .Navlogo img {
  width: 60px;
  display: flex;
  align-items: start;
  justify-content: center;
}
